{include file="public/_head" /}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/_left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;管理员管理
                    </li>
                    <li>管理员列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <a href="{:url('admin/admin/add')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;管理员添加</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">管理员列表</span>
                                <div class="widget-buttons">
                                    {$users->render()|raw|replace}
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>昵称</th>
                                        <th>邮箱</th>
                                        <th>状态</th>
                                        <th>权限</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="users" id="vo"}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.username}</td>
                                        <td>{$vo.nickname}</td>
                                        <td>{$vo.email}</td>
                                        <td>{if $vo.status==1}可用{else/}禁用{/if}</td>
                                        <td>{if $vo.is_super==1}超级管理员{else/}普通管理员{/if}</td>
                                        <td>
                                            <!--超管的权限-->
                                            {if session('admin.is_super')==1}
                                            <a href="{:url('admin/admin/edit',['id'=>$vo.id])}" class="btn btn-azure btn-xs">编辑</a>
                                            {if $vo.is_super!=1}
                                            <a href="#" class="btn btn-danger btn-xs admin-del" dataid="{$vo.id}">删除</a>
                                            {if $vo.status==1}
                                            <a href="#" class="btn btn-warning btn-xs admin-status" dataid="{$vo.id}" status="{$vo.status}">禁用</a>
                                            {else/}
                                            <a href="#" class="btn btn-success btn-xs admin-status" dataid="{$vo.id}" status="{$vo.status}">启用</a>
                                            {/if}
                                            {/if}
                                            {else/}
                                            <!--普管的权限-->
                                            <a href="{:url('admin/admin/edit',['id'=>$vo.id])}" class="btn btn-azure btn-xs" {if $vo.is_super==1}disabled{/if}>编辑</a>
                                            <!--/普管的权限-->
                                            {/if}
                                            <!--/超管的权限-->
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
{include file="public/_js" /}
<script>
    $(function () {
        $('.admin-status').click(function () {
            var id=$(this).attr('dataid');
            var status=$(this).attr('status');
            var msg;
            if(status==1){
                msg='确定禁用此管理员吗';
            }else{
                msg='确定启用此管理员吗';
            }
            layer.confirm(msg,{
                icon:3,
                title:'状态操作'
            },function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/admin/status')}",
                    type:'post',
                    data:{id:id,status:status},
                    dataType:'json',
                    success:function (data) {
                        if(data.code==1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:1000
                            },function () {
                                location.href=data.url;
                            });
                        }else{
                            layer.open({
                                icon:5,
                                anim:6,
                                title:'删除用户',
                                content:data.msg
                            });
                        }
                    }
                });
            })
            return false;
        });

        $('.admin-del').click(function () {
            var id=$(this).attr('dataid');
            layer.confirm('确定删除该用户吗?',{
                icon:3,
                title:'删除用户'
            },function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/admin/del')}",
                    data:{id:id},
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        if(data.code==1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:1000
                            },function () {
                                location.href=data.url;
                            });
                        }else{
                            layer.open({
                                icon:5,
                                anim:6,
                                title:'删除用户',
                                content:data.msg
                            });
                        }
                    }
                });
            });
        });
    });
</script>
</body>
<!--  /Body -->
</html>
