{include file='public/_head' /}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file='public/_left' /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;文章管理
                    </li>
                    <li>文章添加</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bordered-bottom bordered-themeprimary">
                                <span class="widget-caption">文章添加</span>
                            </div>
                            <div class="widget-body">
                                <form action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="title" class="control-label col-sm-2">文章标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tags" class="col-sm-2 control-label no-padding-right">标签</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tags" name="tags" placeholder="标签">
                                            <span class="help-block">标签以|分割</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox col-sm-offset-2">
                                            <label>
                                                <input type="checkbox" name="is_top" value="1">
                                                <span class="text">是否推荐</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cate_id" class="control-label col-sm-2">所属导航</label>
                                        <div class="col-sm-6">
                                            <select name="cate_id" id="cate_id" class="form-control">
                                                <option value="">请选择</option>
                                                {volist name="cateIds" id="vo"}
                                                <option value="{$vo.id}">{$vo.catename}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="desc" class="control-label col-sm-2">文章描述</label>
                                        <div class="col-sm-6">
                                            <textarea name="desc" id="desc" cols="30" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content" class="control-label col-sm-2">文章内容</label>
                                        <div class="col-sm-6">
                                            <textarea name="content" id="content" cols="30" rows="10" class=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <button type="submit" class="btn btn-primary" id="add">添加</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file='public/_js' /}
<script src="/static/lib/ueditor/ueditor.config.js"></script>
<script src="/static/lib/ueditor/ueditor.all.js"></script>
<script>
    $(function () {
       UE.getEditor('content');
       $('#add').click(function () {
          $.ajax({
              url:"{:url('admin/article/add')}",
              data:$('form').serialize(),
              type:'post',
              dataType:'json',
              success:function (data) {
                  if(data.code==1){
                      layer.msg(data.msg,{
                          icon:6,
                          time:1000
                      },function () {
                          location.href=data.url;
                      });
                  }else{
                      layer.open({
                          title:'文章添加',
                          content:data.msg,
                          icon:5,
                          anim:6
                      });
                  }
              }
          });
          return false;
       });
    });
</script>


</body>
<!--  /Body -->
</html>
